/* body {
    background-image:url(pizza.jpeg;
    background-attachment: fixed;
    background-size: cover
} */
.header{
    height: 100px;
    background-color: aqua;
    padding: 0 20px;
    color: brown;
}
.logo{
    line-height: 100px;
    float: left;
    text-transform: capitalize;

}
.menu{
    float: right;
    line-height: 100px;
}

.menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn{
    line-height: 100px;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
color:red ;
    
}